#container {
  padding: 15px;
}
pre {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
}
pre code {
  white-space: pre-wrap;
}
.hljs,
code {
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
}
:not(pre) > code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 4px;
}
th, td {
  border: 1px solid #ccc;
  padding: 6px 12px;
}